@{
    ViewBag.Title = "Home Page";
}
 <!-- Header -->
<div class="w3-container" style="margin-top:80px" id="showcase">
        <h1 class="w3-jumbo"><b>@ViewBag.Title</b></h1>
        <h1 class="w3-xxxlarge w3-text-blue"><b>Main Information</b></h1>
        <hr style="width:50px;border:5px solid blue" class="w3-round">
</div>
<div class="jumbotron">
    <h1>Be IT Academy</h1>
    <p class="lead">This academy is a product of a young, motivated, dedicated team, which likes to makes courses.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Find out our courses, tests and information which course fits you the best.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>You can try our paid courses so you can experience and make the most of it with our trainers.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Envrironment</h2>
        <p>You can easily attend all courses no matter where you are. All need to have is internet.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>